---
http_interactions:
- request:
    method: get
    uri: https://ws-dev.shipcompliant.com/services/1.2/coreservice.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://ws.shipcompliant.com/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://ws.shipcompliant.com/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://ws.shipcompliant.com/\">\r\n
        \     <s:element name=\"CheckComplianceOfSalesOrderWithAddressValidation\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"Request\" type=\"tns:CheckComplianceOfSalesOrderWithAddressValidationRequest\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"CheckComplianceOfSalesOrderWithAddressValidationRequest\">\r\n
        \       <s:complexContent mixed=\"false\">\r\n          <s:extension base=\"tns:CheckComplianceOfSalesOrderRequest\">\r\n
        \           <s:sequence>\r\n              <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Option\" type=\"s:string\" />\r\n            </s:sequence>\r\n          </s:extension>\r\n
        \       </s:complexContent>\r\n      </s:complexType>\r\n      <s:complexType
        name=\"CheckComplianceOfSalesOrderRequest\">\r\n        <s:complexContent
        mixed=\"false\">\r\n          <s:extension base=\"tns:BaseRequest\">\r\n[...]
- request:
    method: post
    uri: https://ws-dev.shipcompliant.com/services/1.2/coreservice.asmx
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"http://ws.shipcompliant.com/\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"><env:Body><tns:AddUpdateProduct><tns:Request><tns:Security><tns:PartnerKey><PARTNER_KEY></tns:PartnerKey><tns:Username><USERNAME></tns:Username><tns:Password><PASSWORD></tns:Password></tns:Security><tns:Product><tns:BottleSizeMS>750</tns:BottleSizeMS><tns:BrandKey>DENSNW</tns:BrandKey><tns:DefaultCase>12</tns:DefaultCase><tns:DefaultWholesaleCasePrice>270</tns:DefaultWholesaleCasePrice><tns:Description>Denver
        Snow Flake Cab 2013</tns:Description><tns:PercentAlcohol>14.1</tns:PercentAlcohol><tns:ProductDistribution>Both</tns:ProductDistribution><tns:ProductKey>SNFL13</tns:ProductKey><tns:ProductType>Wine</tns:ProductType><tns:UnitPrice>49.99</tns:UnitPrice><tns:Varietal>Cabernet
        Sauvignon</tns:Varietal><tns:Vintage>2013</tns:Vintage><tns:VolumeAmount>750</tns:VolumeAmount><tns:VolumeUnit>milliliter</tns:VolumeUnit></tns:Product><tns:UpdateMode>ErrorOnExisting</tns:UpdateMode></tns:Request></tns:AddUpdateProduct></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://ws.shipcompliant.com/AddUpdateProduct\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:wsa=\"http://schemas.xmlsoap.org/ws/2004/03/addressing\" xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"
        xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"><soap:Header><wsa:Action>http://ws.shipcompliant.com/AddUpdateProductResponse</wsa:Action><wsa:MessageID>uuid:6ad2eb24-b0b4-4785-827e-7396348b810f</wsa:MessageID><wsa:RelatesTo>uuid:62f394bd-267f-4f3e-b01f-138e0685c1b3</wsa:RelatesTo><wsa:To>http://schemas.xmlsoap.org/ws/2004/03/addressing/role/anonymous</wsa:To><wsse:Security><wsu:Timestamp
        wsu:Id=\"Timestamp-6085de26-a9f2-4947-ad68-bc8651ac56d5\"><wsu:Created>2014-03-12T05:41:01Z</wsu:Created><wsu:Expires>2014-03-12T05:46:01Z</wsu:Expires></wsu:Timestamp></wsse:Security></soap:Header><soap:Body><AddUpdateProductResponse
        xmlns=\"http://ws.shipcompliant.com/\"><AddUpdateProductResult><Errors><Error><Code>100</Code><Key>SNFL13</Key><Message>Brand
        does not exist [DENSNW].</Message><Target>Product</Target><Type>Validation</Type></Error></Errors><ResponseStatus>Failure</ResponseStatus></AddUpdateProductResult></AddUpdateProductResponse></soap:Body></soap:Envelope>"
  recorded_at: Wed, 12 Mar 2014 05:41:01 GMT
recorded_with: VCR 2.5.0
