---
http_interactions:
- request:
    method: get
    uri: https://ws-dev.shipcompliant.com/services/1.2/coreservice.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://ws.shipcompliant.com/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://ws.shipcompliant.com/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://ws.shipcompliant.com/\">\r\n
        \     <s:element name=\"CheckComplianceOfSalesOrderWithAddressValidation\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"Request\" type=\"tns:CheckComplianceOfSalesOrderWithAddressValidationRequest\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"CheckComplianceOfSalesOrderWithAddressValidationRequest\">\r\n
        \       <s:complexContent mixed=\"false\">\r\n          <s:extension base=\"tns:CheckComplianceOfSalesOrderRequest\">\r\n
        \           <s:sequence>\r\n              <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Option\" type=\"s:string\" />\r\n            </s:sequence>\r\n          </s:extension>\r\n
        \       </s:complexContent>\r\n      </s:complexType>\r\n      <s:complexType
        name=\"CheckComplianceOfSalesOrderRequest\">\r\n        <s:complexContent
        mixed=\"false\">\r\n          <s:extension base=\"tns:BaseRequest\">\r\n[...]
- request:
    method: post
    uri: https://ws-dev.shipcompliant.com/services/1.2/coreservice.asmx
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"http://ws.shipcompliant.com/\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"><env:Body><tns:SearchMoreSalesOrders><tns:Request><tns:PagingCookie>33d2c6d7-212c-46fd-9712-d4a5ca1f4f2f</tns:PagingCookie><tns:Security><tns:PartnerKey><PARTNER_KEY></tns:PartnerKey><tns:Username><USERNAME></tns:Username><tns:Password><PASSWORD></tns:Password></tns:Security></tns:Request></tns:SearchMoreSalesOrders></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://ws.shipcompliant.com/SearchMoreSalesOrders\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:wsa=\"http://schemas.xmlsoap.org/ws/2004/03/addressing\" xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"
        xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"><soap:Header><wsa:Action>http://ws.shipcompliant.com/SearchMoreSalesOrdersResponse</wsa:Action><wsa:MessageID>uuid:80e81ce1-8f7d-4b06-aa64-295e9ab4ae4f</wsa:MessageID><wsa:RelatesTo>uuid:93b1061d-327e-4b51-a655-efb007bac17c</wsa:RelatesTo><wsa:To>http://schemas.xmlsoap.org/ws/2004/03/addressing/role/anonymous</wsa:To><wsse:Security><wsu:Timestamp
        wsu:Id=\"Timestamp-ffdcb3d9-28c5-4aee-a071-708d161037ac\"><wsu:Created>2014-04-01T03:31:17Z</wsu:Created><wsu:Expires>2014-04-01T03:36:17Z</wsu:Expires></wsu:Timestamp></wsse:Security></soap:Header><soap:Body><SearchMoreSalesOrdersResponse
        xmlns=\"http://ws.shipcompliant.com/\"><SearchMoreSalesOrdersResult><CountMoreSalesOrdersAvailable>883</CountMoreSalesOrdersAvailable><CountSalesOrdersReturned>100</CountSalesOrdersReturned><PagingCookie>33d2c6d7-212c-46fd-9712-d4a5ca1f4f2f</PagingCookie><PagingCookieExpires>2014-03-31T22:36:17.5982052-05:00</PagingCookieExpires><ResponseStatus>Success</ResponseStatus><SalesOrders><SalesOrderSummary><PurchaseDate>2014-01-06T00:00:00</PurchaseDate><SalesOrderKey>TST1093656_B</SalesOrderKey><Shipments><ShipmentSummary><ComplianceStatus>LegacyCommitted</ComplianceStatus><FulfillmentAccount
        /><FulfillmentExceptionReason /><FulfillmentExceptionType>None</FulfillmentExceptionType><FulfillmentHouse>WineShipping</FulfillmentHouse><FulfillmentStatus>None</FulfillmentStatus><Packages><PackageSummary><Carrier>UPS</Carrier><TrackingNumber>1z5x0937a839903376</TrackingNumber><TrackingStatus>InTransit</TrackingStatus></PackageSummary></Packages><RequestedShipDate>2014-01-06T00:00:00</RequestedShipDate><ShipDate>2014-01-06T00:00:00</ShipDate><ShipmentKey>1</ShipmentKey><ShipmentStatus>Delivered</ShipmentStatus><ShipTo><FirstName>Dana</FirstName><LastName>Johnson</LastName><Zip1>75032</Zip1></ShipTo></ShipmentSummary></Shipments><Tags><TagSummary><Name>TSTSonoma</Name></TagSummary></Tags></SalesOrderSummary><SalesOrderSummary><PurchaseDate>2014-01-03T00:00:00</PurchaseDate><SalesOrderKey>TST1097871</SalesOrderKey><Shipments><ShipmentSummary><ComplianceStatus>LegacyCommitted</ComplianceStatus><FulfillmentAccount
        /><FulfillmentExceptionReason /><FulfillmentExceptionType>None</FulfillmentExceptionType><FulfillmentHouse>WineShipping</FulfillmentHouse><FulfillmentStatus>None</FulfillmentStatus><Packages><PackageSummary><Carrier>UPS</Carrier[...]
